In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in

import numpy as napi # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import train_test_split
# Input data files are available in the "../input/" directory.

# IF on kaggle Notebook:
# sample_submission = pd.read_csv("../input/nlp-getting-started/sample_submission.csv")
# test = pd.read_csv("../input/nlp-getting-started/test.csv")
# train = pd.read_csv("../input/nlp-getting-started/train.csv")

# IF on local environment:
sample_submission = pd.read_csv("sample_submission.csv")
test = pd.read_csv("test.csv")
train = pd.read_csv("train.csv")

In [4]:
X = train.iloc[:, 1:-1]
y = train["target"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)
X.head()

  keyword location                                               text
0     NaN      NaN  Our Deeds are the Reason of this #earthquake M...
1     NaN      NaN             Forest fire near La Ronge Sask. Canada
2     NaN      NaN  All residents asked to 'shelter in place' are ...
3     NaN      NaN  13,000 people receive #wildfires evacuation or...
4     NaN      NaN  Just got sent this photo from Ruby #Alaska as ...

In [8]:
# keyword dictionary
keyword_arr = X_train.iloc[:,0].values
keyword_arr = keyword_arr[~pd.isnull(keyword_arr)]
print(keyword_arr.size)
keyword_arr = napi.unique(keyword_arr)
print(keyword_arr.size)
KEYWORD_ARRAY_SIZE = keyword_arr.size

# Coonvert keywords to feature vectors
keyword_features = pd.get_dummies(X_train.iloc[:,0])
keyword_features.head()

6795
221

,ablaze,accident,aftershock,airplane%20accident,ambulance,annihilated,annihilation,apocalypse,armageddon,army,...,weapons,whirlwind,wild%20fires,wildfire,windstorm,wounded,wounds,wreck,wreckage,wrecked
4620,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2858,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3098,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3751,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5285,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# location dictionary
location_arr = X_train.iloc[:,1].values
location_arr = location_arr[~pd.isnull(location_arr)]
print(location_arr.size)
location_arr = napi.unique(location_arr)
print(location_arr.size)
LOCATION_ARRAY_SIZE = location_arr.size
# print(location_arr)

6851
6764
['# handbags Genuine Mulberry Antony Cross Body Messenger Bag Dark Oak Soft Buffalo Leather:  Ã¥Â£279.00End Date: W... http://t.co/FTM4RKl8mN'
 "#360WiseNews : China's Stock Market Crash: Are There Gems In The Rubble? http://t.co/9Naw3QOQOL"
 "#360WiseNews : China's Stock Market Crash: Are There Gems In The Rubble? http://t.co/aOd2ftBMGU"
 ...
 'Ã¥Â¤} New Ladies Shoulder Tote #Handbag Faux Leather Hobo Purse Cross Body Bag #Womens http://t.co/UooZXauS26 http://t.co/6MGBizjfgd RT en\x89Ã›_'
 "Ã¥Â¬'Only the sea knows how many are dead' @MSF_Sea after last disaster in #Mediterranean turned into a massgrave  http://t.co/m0utLDif77"
 'Ã¥ÃˆMGN-AFRICAÃ¥Â¨ pin:263789F4 Ã¥Ãˆ Correction: Tent Collapse Story: Correction: Tent Collapse story Ã¥Ãˆ http://t.co/fDJUYvZMrv @wizkidayo']